<p>post works!</p>
<div class="container text-center">
    <ng-multiselect-dropdown [placeholder]="'Testing..'" [settings]="dropdownSettings" [data]="dropdownList"
        (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
    </ng-multiselect-dropdown>
</div>

