﻿body 
{
	
}

td.master
{
	background-image: url(Image/Background.gif);
}


div.rounded div.top-outer div.top-inner div.top {
   /*background:url(../img/tm.gif) repeat;*/
    background-color :#515b60;
    height:23px;
    margin-right:9px;
    font-size:.01em;
}

table.master 
{
	border: 0;
	width: 900px; 
	margin: 0,0,0,0;
	padding:0;
}

table.HeaderTop 
{
	border: 0;
	margin: 0,0,0,0;
	padding:0;
	background-color:White;
}
td.tdbody
{
	background-color:White;	
}

td.Footer
{
	
	color:#2c2d2d;
}
a.Footer
{
	
	color:#2c2d2d;
}

table.Backbk
{
 background-image: url(YRGBack.jpg); 

}

td.Contain
{
	background-color:#f0f0f0;	
	padding-left:10;
	
	font-size:10pt;
	color:#2c2d2d;
}
td.Containmain
{
	background-color:#515b60;	
	padding-left:10;
	
	color:#ffffff;
    width: 100%;
}
.test
{
    background-color:#515b60;
    background:#515b60;
}

td.Containmain1
{
	background-color:#dbe2e4;	
	padding-left:10;
	color:#44687d;
}

td.Containheader
{
	background-color:#515b60;	
	padding-left:10;
	font-weight:bold; 
	font-size:12pt;
	color:#ffffff;
   
}

div.Header
{
    background-color:#f0f2f4;
	font-size:16pt;
	color:#306080;
}
div.Header_1
{
	font-weight:bold; 
	font-size:10pt;
	color:#306080;
}
td.DHeader_1
{
	font-weight:bold; 
	font-size:10pt;
	color:#306080;
}

div.Line
{
	font-weight:bold; 
	font-size:8pt;
	color:#306080;
}

div.Line2
{
	font-size:10pt;
	color:#63879f;
} 
div.Line3
{
	font-size:8pt;
	color:#63879f;
}


ul.Point
{
	
	font-size:10pt;
	color:#63879f;
	list-style-image: url('../images/Bullet.gif');
} 

ul.Point_1
{
	font-size:8pt;
	color:#306080;
	list-style-image: url('../images/Bullet.gif');
} 

td.heade1
 {
 	
	font-size:12pt;
	color:#ffffff;
 }

td.heade2
 {
 	
	font-size:13pt;
	color:#ffffff;
 }
 td.heade_small
 {
 	
	font-size:8pt;
	color:#ffffff;
 }
 td.Fields
 {
 	
	font-size:8pt;
	color:#63879f;
 }
 td.Fields1
 {
 	
	font-size:10pt;
	color:#63879f;
 }
 td.FieldsHead
 {
 	
	font-weight:bold; 
	font-size:14pt;
	color:#63879f;
 }
 
 asp:LinkButton.Fields
 {
 	
	font-weight:bold; 
	font-size:8pt;
	color:#63879f;
 }
.CustomComboBoxStyle .ajax__combobox_textboxcontainer input {
    background-color: #ADD8E6;
    border: solid 1px Blue;
    border-right: 0px none;
}
.CustomComboBoxStyle .ajax__combobox_buttoncontainer button {
    background-color: #ADD8E6;
    border: solid 1px Blue;
}

html, body, #wrapper 
   {
    
   }
