﻿body 
{
	font-family:arial, helvetica, sans-serif;
	font-style:normal; 
	font-weight:normal; 
	font-size:9pt;
	margin:0;
	padding:0;
}

td.master
{
	background-image: url(Image/Background.gif);
}

table.master 
{
	border: 0;
	width: 900px; 
	margin: 0,0,0,0;
	padding:0;
}


div.rounded div.top-outer div.top-inner div.top {
   /*background:url(../img/tm.gif) repeat;*/
    background-color :#94a834;
    height:23px;
    margin-right:9px;
    font-size:.01em;
}

table.HeaderTop 
{
	border: 0;
	margin: 0,0,0,0;
	padding:0;
	background-color:White;
}
td.tdbody
{
	background-color:White;	
}

td.Footer
{
	font-family:arial;
	font-style:normal; 
	font-weight:normal; 
	font-size:8pt;
	color:#1b1548;
}
a.Footer
{
	font-family:arial;
	font-style:normal; 
	font-weight:normal; 
	font-size:8pt;
	color:#1b1548;
}


table.Backbk
{
 background-image: url(DRCBack.jpg); 

}

td.Contain
{
	background-color:#F0F0F0;	
	padding-left:10;
	font-family:arial;
	font-style:normal; 
	font-weight:normal; 
	font-size:10pt;
	color:#1b1548;
}
td.Containmain
{
	background-color:#94a834;	
	padding-left:10;
	font-family:arial;
	font-style:normal; 
	font-weight:normal; 
	font-size:10pt;
	color:#ffffff;
    width: 100%;
}
.test
{
    background-color:#94a834;
    background:#3653a4;
}

td.Containmain1
{
	background-color:#94a834;	
	padding-left:10;
	font-family:arial;
	font-style:normal; 
	font-weight:normal; 
	font-size:10pt;
	color:#44687d;
}

td.Containheader
{
	background-color:#94a834;	
	padding-left:10;
	font-family:arial;
	font-style:normal; 
	font-weight:bold; 
	font-size:12pt;
	color:#ffffff;
   
}

div.Header
{
    background-color:#94a834;
	font-family:arial;
	font-style:normal; 
	font-weight:normal; 
	font-size:16pt;
	color:#306080;
}
div.Header_1
{
	font-family:Arial;
	font-style:normal; 
	font-weight:bold; 
	font-size:10pt;
	color:#306080;
}
td.DHeader_1
{
	font-family:Arial;
	font-style:normal; 
	font-weight:bold; 
	font-size:10pt;
	color:#306080;
}

div.Line
{
	font-family:arial;
	font-style:normal; 
	font-weight:bold; 
	font-size:8pt;
	color:#306080;
}

div.Line2
{
	font-family:arial;
	font-style:normal; 
	font-weight:normal; 
	font-size:10pt;
	color:#63879f;
} 
div.Line3
{
	font-family:arial;
	font-style:normal; 
	font-weight:normal; 
	font-size:8pt;
	color:#63879f;
}


ul.Point
{
	font-family:arial;
	font-style:normal; 
	font-weight:normal; 
	font-size:10pt;
	color:#63879f;
	list-style-image: url('../images/Bullet.gif');
} 

ul.Point_1
{
	font-family:arial;
	font-style:normal; 
	font-weight:bold; 
	font-size:8pt;
	color:#306080;
	list-style-image: url('../images/Bullet.gif');
} 

td.heade1
 {
 	font-family:arial;
	font-style:normal; 
	font-weight:bold; 
	font-size:12pt;
	color:#ffffff;
 }

td.heade2
 {
 	font-family:arial;
	font-style:normal; 
	font-weight:bold; 
	font-size:13pt;
	color:#ffffff;
 }
 td.heade_small
 {
 	font-family:arial;
	font-style:normal; 
	font-weight:normal; 
	font-size:8pt;
	color:#ffffff;
 }
 td.Fields
 {
 	font-family:arial;
	font-style:normal; 
	font-weight:bold; 
	font-size:8pt;
	color:#63879f;
 }
 td.Fields1
 {
 	font-family:arial;
	font-style:normal; 
	font-weight:bold; 
	font-size:10pt;
	color:#63879f;
 }
 td.FieldsHead
 {
 	font-family:arial;
	font-style:normal; 
	font-weight:bold; 
	font-size:14pt;
	color:#63879f;
 }
 
 asp:LinkButton.Fields
 {
 	font-family:arial;
	font-style:normal; 
	font-weight:bold; 
	font-size:8pt;
	color:#63879f;
 }
.CustomComboBoxStyle .ajax__combobox_textboxcontainer input {
    background-color: #ADD8E6;
    border: solid 1px Blue;
    border-right: 0px none;
}
.CustomComboBoxStyle .ajax__combobox_buttoncontainer button {
    background-color: #ADD8E6;
    border: solid 1px Blue;
}

html, body, #wrapper 
   {
      height:100%;
      margin: 0;
      padding: 0;
      border: none;
      text-align: center;
   }
