<div class="kt-grid kt-grid--ver kt-grid--root kt-page">
  <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v6 kt-login--signin" id="kt_login">
    <div
      class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">
      <div class="kt-grid__item kt-grid__item--fluid kt-grid__item--center kt-grid kt-grid--ver kt-login__content"
        style="background-image: url(assets/images/login-banner.png);">
        <div class="kt-login__section">
          <div class="kt-login__block">
            <h3 class="kt-login__title">Join Our Community</h3>
            <div class="kt-login__desc">
             Execution Process...
              <br>
            </div>
          </div>
        </div>
      </div>
      <div class="kt-grid__item  kt-grid__item--order-tablet-and-mobile-2  kt-grid kt-grid--hor kt-login__aside p-0">
        <div class="kt-login__wrapper">
          <div class="kt-login__container">
            <div class="kt-login__body"
              style="padding:25px 30px; border-radius: 5px;">
              <div class="kt-login__logo mb-4">
                <a href="#">
                  <img src="assets/images/logo.png" width="60">
                </a>
              </div>
              <div class="kt-login__signin">
                <div class="kt-login__head">
                  <h3 class="kt-login__title">Sign In </h3>
                </div>
                <div class="kt-login__form">
                  <p *ngIf="message" class="text-center error"  class="text-danger">{{message}}</p>
                  <form class="kt-form" action="" [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="form-group mb-4" [ngClass]="{ 'has-error': submitted && f.userid.errors }">
                      <input class="form-control" type="text" placeholder="UserName" autocomplete="off"
                        formControlName="userid">
                      <div *ngIf="submitted && f.userid.errors" class="help-block">
                        <div *ngIf="f.userid.errors.required" class="text-danger">Userid is required</div>
                      </div>
                      <p *ngIf="InValidUserName" class="text-danger">In Correct UserName</p>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error': submitted && f.password.errors }">
                      <input class="form-control" type="password" placeholder="Password" formControlName="password">
                      <div *ngIf="submitted && f.password.errors" class="help-block">
                        <div *ngIf="f.password.errors.required" class="text-danger">Password is required</div>
                      </div>
                      <p *ngIf="InValidPassword" class="text-danger">In Correct Password</p>
                    </div>
                    <!-- <div class="kt-login__extra">
                      <label class="kt-checkbox">
                        <input type="checkbox" name="remember"> Remember me
                        <span></span>
                      </label>
                    </div> -->
                    <div class="kt-login__actions">
                      <button id="kt_login_signin_submit" class="btn btn-brand btn-pill btn-elevate" style="background-color: #22b9ff;color: #ffffff;" type="submit"
                      [disabled]="isLoading">
                      <img *ngIf="isLoading" style="width: 30px;" src="assets/Spinners/spinner4.gif" />
                      Sign In</button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="kt-login__forgot">
                <div class="kt-login__head">
                  <h3 class="kt-login__title">Forgotten Password ?</h3>
                  <div class="kt-login__desc">Enter your email to reset your password:</div>
                </div>
                <div class="kt-login__form">
                  <form class="kt-form" action="">
                    <div class="form-group">
                      <input class="form-control" type="text" placeholder="Email" name="email" id="kt_email"
                        autocomplete="off">
                    </div>
                    <div class="kt-login__actions">
                      <button id="kt_login_forgot_submit" class="btn btn-brand btn-pill btn-elevate">Request</button>
                      <button id="kt_login_forgot_cancel" class="btn btn-outline-brand btn-pill">Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="kt-login__account">
            <span class="kt-login__account-msg">
              Don't have an account yet ?
            </span>&nbsp;&nbsp;
            <a href="javascript:;" id="kt_login_signup" class="kt-login__account-link">Sign Up!</a>
          </div> -->
        </div>
      </div>
      
    </div>
  </div>
</div>