<h2>New Project</h2>

<mat-tab-group>
    <mat-tab label="Search Projects">
        <mat-card>
            <mat-card-title>
              
            </mat-card-title>
<h2>Static DropDown</h2>
            <mat-form-field class="my-select-panel">
                <mat-select placeholder="Select Project Type" (selectionChange)="OnProjectTypeChange($event.value)"
                    placeholder="Get By Porject Type">
                    <mat-option>-- Select Any --</mat-option>
                    <mat-option [value]=1>Core</mat-option>
                    <mat-option [value]=2>Secondary</mat-option>
                    <mat-option [value]=3>Standard</mat-option>
                </mat-select>
                <!-- Select 2 -->
            </mat-form-field>
            <mat-card-content>
                <div class="container">
                    <div class="row" *ngFor="let item of _arryList" [hidden]="hidden">
                        <mat-nav-list>
                            <p mat-list-item> {{item.ProjectType}}</p>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            Project Id
                                        </th>
                                        <th>
                                            Project Name
                                        </th>
                                        <th>
                                            Project Status
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let child of item.children">
                                        <td>{{ child.project_id }}</td>
                                        <td>{{ child.project_Name }}</td>

                                        <td style="width: 160px;height: 50px;">
                                            <div *ngIf="child.status=='Completed'">
                                                <div class="progress">
                                                    <div class="progress-bar bg-success" style="width:100%">
                                                        {{child.status}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="child.status=='OnHold'">
                                                <div class="progress">
                                                    <div class="progress-bar bg-warning" style="width:70%">
                                                        {{child.status}}</div>
                                                </div>
                                            </div>
                                            <div *ngIf="child.status=='InProcess'">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-striped bg-info"
                                                        style="width:60%">
                                                        {{child.status}}</div>
                                                </div>
                                            </div>
                                            <div *ngIf="child.status=='Rejected'">
                                                <div class="progress">
                                                    <div class="progress-bar bg-danger" style="width:100%">
                                                        {{child.status}}</div>
                                                </div>
                                            </div>
                                    </tr>
                                </tbody>
                            </table>
                        </mat-nav-list>
                    </div>
                </div>
            </mat-card-content>

            <h2>Api DropDown</h2>
            <mat-form-field class="my-select-panel">
                <mat-select color="primary"  style="width: 100%;" (selectionChange)="OnProjectTypeChangeAPI($event.value)" 
                    placeholder="Select ProjectType">
                    <mat-option class="mat-primary" *ngFor="let item of _ProjectTypeList"
                        [value]="item.ProjectType_ID">{{item.ProjectType_Name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-card>
    </mat-tab>

    <mat-tab label="Header Section">
        <mat-card>
            <mat-card-title>
                <h4>Project Section</h4>
            </mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content>
                <form [formGroup]="myform" (ngSubmit)="onSubmit()">
                    <table>
                        <tr>
                            <td>
                                <mat-form-field>
                                    <mat-select placeholder="Select Project Type" formControlName="projectType">
                                        <mat-option>-- Select Any --</mat-option>
                                        <mat-option value="1">Core</mat-option>
                                        <mat-option value="2">Secondary</mat-option>
                                        <mat-option value="3">Standard</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field>
                                    <mat-select placeholder="Select Client" formControlName="projectType">
                                        <mat-option>-- Select Any --</mat-option>
                                        <mat-option value="1">GSV</mat-option>
                                        <mat-option value="2">GAc</mat-option>
                                        <mat-option value="3">Xyz</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Project Name </mat-label>
                                    <input matInput placeholder="Project Name" formControlName="projectType">
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <mat-form-field class="demo-full-width">
                                    <textarea matInput placeholder="Description" matTextareaAutosize
                                        matAutosizeMinRows="4" matAutosizeMaxRows="5"></textarea>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td><br>
                                <mat-form-field>
                                    <mat-select placeholder="Select Category">
                                        <mat-option>-- Select Any --</mat-option>
                                        <mat-option value="1">develop</mat-option>
                                        <mat-option value="2">App</mat-option>
                                        <mat-option value="3">xyz</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2">

                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="content-center">
                                <button mat-raised-button color="primary">Submit</button>
                                <button mat-raised-button>Clear</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </mat-card-content>
        </mat-card>
    </mat-tab>

    <mat-tab label="Team Section">
        <mat-card>
            <mat-card-title>
                <h4>Team Section</h4>
            </mat-card-title>
            <mat-divider></mat-divider>
        </mat-card>
    </mat-tab>

</mat-tab-group>