<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row" id="PortfolioList">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="kt-portlet ">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            User Details
                        </h3>
                    </div>
                </div>
                <div class="kt-portlet__body kt-portlet__body_scroll" *ngFor="let item of User_List">
                    <div class="accordion accordion-solid accordion-toggle-plus" id="accordionExample6">
                        <!-- One -->
                        <div class="card">
                            <div class="card-header" id="headingOne6">
                                <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseOne6"
                                    aria-expanded="false" aria-controls="collapseOne6">
                                    <i class="fas fa-circle text-info"></i>
                                    User Information
                                </div>
                            </div>
                            <div id="collapseOne6" class="collapse" aria-labelledby="headingOne6"
                                data-parent="#accordionExample6">
                                <div class="card-body">
                                    <!--begin: Datatable -->
                                    <div id="project-1_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                        <div class="row  form-group">
                                            <div class="col">
                                                <label><b>Employee Code : </b></label> <label>{{item.Emp_No}}</label>
                                            </div>
                                            <div class="col">
                                                <label><b>Company Code : </b></label><label>{{item.Emp_Comp_No}}</label>
                                            </div>
                                            <div class="col">
                                                <label><b>Employee Role :
                                                    </b></label><label>{{item.Emp_SystemRole}}</label>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col">
                                                <label><b> First Name :
                                                    </b></label><label>{{item.Emp_First_Name}} </label>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col">
                                                <div *ngIf="item.Emp_Second_Name!=''">
                                                    <label><b> Second Name :
                                                        </b></label><label>{{item.Emp_Second_Name}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col">
                                                <div *ngIf="item.Emp_Last_Name!=''">
                                                    <label><b> Last Name :
                                                        </b></label><label>{{item.Emp_Last_Name}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col">
                                                <label><b> Email Id : </b></label><label>{{item.Emp_Email}}</label>
                                            </div>
                                            <div class="col">
                                                <label><b> Employee Department :
                                                    </b></label><label>{{item.Emp_Dept_No}}</label>
                                            </div>
                                            <div class="col">
                                                <div *ngIf="item.DateOfJoin!=null">
                                                    <label><b> Date Of join :
                                                        </b></label><label>{{item.DateOfJoin}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col">
                                                <div *ngIf="item.Gender=='M'">
                                                    <label><b>Gender : </b></label><label>Male</label>
                                                </div>
                                                <div *ngIf="item.Gender=='F'">
                                                    <label><b>Gender : </b></label><label>FeMale</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end: Datatable -->
                                </div>
                            </div>
                        </div>
                        <!-- Two -->
                        <div class="card">
                            <div class="card-header" id="headingTwo6">
                                <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo6"
                                    aria-expanded="false" aria-controls="collapseTwo6">
                                    <i class="fas fa-circle text-warning"></i> Account Information
                                </div>
                            </div>
                            <div id="collapseTwo6" class="collapse" aria-labelledby="headingTwo6"
                                data-parent="#accordionExample6">
                                <div class="card-body">
                                    <!--begin: Datatable -->
                                    <div class="row  form-group">
                                        <div class="col">
                                            <label><b>User Name : </b></label> <label>{{item.UserName}}</label>
                                        </div>

                                    </div>
                                    <div class="row form-group">
                                        <div class="col">
                                            <label><b>Password : </b></label><label>{{item.Password}}</label>
                                        </div>
                                    </div>
                                    <!--end: Datatable -->
                                </div>
                            </div>
                        </div>
                        <!-- three -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>