<!-- <app-header></app-header>
            <app-sidebar></app-sidebar>
            <router-outlet></router-outlet>
    <app-footer></app-footer> -->
<div class="kt-grid kt-grid--hor kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
        <!-- begin:: Aside -->
        <app-sidebar></app-sidebar>
        <div class="kt-aside-menu-overlay"></div>
        <!-- end:: Aside -->
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
            <!-- begin:: Header -->
            <!-- <app-header></app-header> -->
            <!-- end:: Header -->
           
                <router-outlet>
                  
                </router-outlet>
                <app-footer></app-footer>
           
        </div>
    </div>
  
    <div id="kt_scrolltop" class="kt-scrolltop">
        <i class="fa fa-arrow-up"></i>
    </div>

</div>