


    <router-outlet>
    </router-outlet>  

    <!-- <button (click)="showToasterSuccess()">
        Success Toaster
    </button>
      
    <button (click)="showToasterError()">
        Error Toaster
    </button>
      
    <button (click)="showToasterInfo()">
        Info Toaster
    </button>
      
    <button (click)="showToasterWarning()">
        Warning Toaster
    </button> -->
<!-- <app-home></app-home> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-login></app-login> -->
<!-- <app-default></app-default> -->