  <!-- begin:: Footer -->
  <div class="kt-footer  kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-footer__copyright">
            2020&nbsp;©&nbsp; All Rights Reserved. Powered By &nbsp; <a href="https://www.creative-sols.com" target="_blank" class="kt-link"> Creative Solutions</a>
        </div>
    </div>
</div>
<!-- end:: Footer -->