/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.css"; */


/* 
 @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
  @import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';  
  @import 'https://fonts.googleapis.com/icon?family=Material+Icons';
  @import '~@angular/material/prebuilt-themes/indigo-pink.css';  
  @import "~@ng-select/ng-select/themes/default.theme.css"; */
/* 
body,
html{
    padding: 0;
    margin:0;
    height: 100%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
/* @import '~bootstrap/dist/css/bootstrap.min.css'; */
/* @import "/dist/assets/css/pages/login.css";
@import "/dist/assets/plugins/global/plugins.bundle.css";
@import  "/dist/assets/css/style.bundle.css"; */

/* @import '/src/assets/js/pages/select2.js'; */
/* @import "~@ng-select/ng-select/themes/default.theme.css"; */
