<!-- begin:: Content -->





<!-- {{ this.selectedItemsList | json}}{{this.checkedIDs | json}}  -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <!--Begin::Row    DIV ONE -->
    <div class="row" [hidden]="_ProjectList">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet__head" style="align-items: center;">
                    <form>
                        <div class="kt-portlet__head-label">
                            <div>
                                <h3 class="kt-portlet__head-title">
                                    Projects List
                                </h3>
                            </div>
                            <!--begin: Search -->
                            <div class="kt-header__topbar-item kt-header__topbar-item--search mx-4">
                                <div class="kt-header__topbar-wrapper">
                                    <div class="kt-quick-search kt-quick-search--inline ">
                                        <div class="kt-quick-search__form">
                                            <div class="input-group">
                                                <input type="text" class="form-control kt-quick-search__input pl-3"
                                                    placeholder="Search..." [(ngModel)]="searchText" name="searchText"
                                                    (keyup)="onSearchProjects($event)" autofocus>
                                                <div class="input-group-prepend"><span class="input-group-text"><i
                                                            class="flaticon2-search-1"></i></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="position-relative mr-4">
                                <ng-multiselect-dropdown [placeholder]="'-- Project Type --'" 
                                    [settings]="dropdownSettings" [data]="dropdownList"
                                    (onSelect)="OnProjtypeChange($event)" (onDeSelect)="ProTypeDeselect()">
                                </ng-multiselect-dropdown>
                                <!-- (change)="OnProjtypeChange($event.target.value)"  StatDeselect-->
                                <!-- <select class="form-control" id="select2-1" [(ngModel)]="search_Type"
                                    name="search_Type">
                                    <option [value]='0'>-- Project Type --</option>
                                    <option *ngFor="let item of dropdownList" value={{item.Exec_BlockName}}>
                                        {{item.Exec_BlockName}}</option>
                                </select> -->
                            </div>
                            <div class="mr-4">
                                <ng-multiselect-dropdown [placeholder]="'-- Status --'"
                                    [settings]="dropdownSettings_Stat" [data]="StatusList"
                                    (onSelect)="OnStatusChange($event)" (onDeSelect)="StatDeselect()">
                                </ng-multiselect-dropdown>
                                <!-- (change)="OnStatusChange($event.target.value)" -->
                                <!-- <select class="form-control" id="select2-3" [(ngModel)]="search_status"
                                    name="search_status">
                                    <option [value]='0'>-- &nbsp; Status &nbsp; --</option>
                                    <option *ngFor="let item of StatusList" value={{item.Status}}>
                                        {{item.Status}}</option>
                                </select> -->
                            </div>
                            <div class="mr-4">
                                <ng-multiselect-dropdown [placeholder]="'-- Employee Name --'"
                                [settings]="dropdownSettings_Team" [data]="Teamlist" [(ngModel)]="search_Team"
                                (onSelect)="OnTeamChange($event)"  (onDeSelect)="EmpDeselect()">
                            </ng-multiselect-dropdown>
                                <!-- (change)="OnTeamChange($event.target.value)" -->
                                <!-- <select class="form-control" id="select2-5" [(ngModel)]="search_Team"
                                    name="search_Team">
                                    <option [value]='0'>-- TM Name --</option>
                                    <option *ngFor="let item of Teamlist" value={{item.Emp_No}}>
                                        {{item.TM_DisplayName}}</option>
                                </select> -->
                            </div>
                            <div class="mr-2">
                                <!-- <button class="btn btn-primary text-white" [hidden]="btnGetRecords"
                                    (click)="Btn_GetRecords()">
                                    Get Records
                                </button> -->
                            </div>
                            <!--End Dropdowns  -->
                        </div>
                    </form>
                    <div class="kt-portlet__head-toolbar">

                        <div class="btn-group mr-2">
                            <!-- <i class="fas fa-plus"></i> -->
                            <button id="groupportfolio" class="btn btn-primary text-white" data-toggle="dropdown"
                                [hidden]="btn_CreatePortfolio">
                                <strong> Add Portfolio</strong>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-fit dropdown-menu-md">
                                <!--begin::Nav-->
                                <ul class="kt-nav">
                                    <li class="kt-nav__head">
                                        Portfolio Name
                                    </li>
                                    <li class="kt-nav__separator"></li>
                                    <form [formGroup]="Portfolio_FormGroup" (ngSubmit)="OnSave()">
                                        <li class="kt-nav__item px-3">
                                            <input type="text" class="form-control" formControlName="portfolioName"
                                                placeholder="Enter Portfolio Name..."
                                                [(ngModel)]="Obj_Portfolio_DTO.Portfolio_Name" name="portfolioName"
                                                [ngClass]="{ 'is-invalid': submitted && f.portfolioName.errors }">
                                            <div *ngIf="submitted && f.portfolioName.errors" class="invalid-feedback">
                                                <div *ngIf="f.portfolioName.errors.required">Portfolio Name is
                                                    required
                                                </div>
                                            </div>
                                        </li>
                                        <li class="kt-nav__separator"></li>
                                        <li class="kt-nav__foot">
                                            <!-- <a class="btn btn-label-primary btn-bold btn-sm"
                                               type="submit" [disabled]="!Portfolio_FormGroup.valid">Save
                                                Portfolio</a> -->
                                            <button class="btn btn-primary text-white" type="submit">Save
                                                Portfolio</button>
                                        </li>
                                    </form>
                                </ul>
                                <!--end:: Nav-->
                            </div>
                        </div>
                        <a id="closebtn" class="btn btn-danger text-white" (click)="CloseBttn()">X</a>
                    </div>
                </div>
                <div class="kt-portlet__body kt-portlet__body_scroll pt-0 ">
                    <div class="card projects-list no-border">
                        <div class="card-body">
                            <!--begin: Datatable -->
                            <div id="project-4_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6"></div>
                                    <div class="col-sm-12 col-md-6">
                                        <div id="project-4_filter" class="dataTables_filter">
                                            <label>Search:<input type="search" class="form-control form-control-sm"
                                                    placeholder="" aria-controls="project-4"></label></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-hover dataTable no-footer dtr-inline" id="project-4"
                                            role="grid" style="width: 0px;">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting_asc" tabindex="0" aria-controls="project-4"
                                                        rowspan="1" colspan="1" style="width: 0px;"
                                                        aria-sort="ascending"
                                                        aria-label=": activate to sort column descending">

                                                        <mat-list-item>
                                                            <mat-checkbox checked color="primary"
                                                                [(ngModel)]="master_checked" name="Allcheckbox"
                                                                (change)="master_CheckBox()">
                                                            </mat-checkbox>
                                                        </mat-list-item>
                                                        <!-- <label
                                                            class="kt-checkbox kt-checkbox--single kt-checkbox--tick kt-checkbox--brand">
                                                            <input type="checkbox" name="Allcheckbox"
                                                                [(ngModel)]="master_checked"
                                                                (change)="master_CheckBox()">
                                                            <span></span>
                                                        </label> -->
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="project-4"
                                                        rowspan="1" colspan="1" style="width: 0px;"
                                                        aria-label="Project Title &amp;amp; Description: activate to sort column ascending">
                                                        Project Name</th>
                                                    <th class="sorting" tabindex="0" aria-controls="project-4"
                                                        rowspan="1" colspan="1" style="width: 0px;"
                                                        aria-label="Project Type: activate to sort column ascending">
                                                        Project Type</th>
                                                    <th class="sorting" tabindex="0" aria-controls="project-4"
                                                        rowspan="1" colspan="1" style="width: 0px;"
                                                        aria-label="Category: activate to sort column ascending">
                                                        Category</th>
                                                    <th class="sorting" tabindex="0" aria-controls="project-4"
                                                        rowspan="1" colspan="1" style="width: 0px;"
                                                        aria-label="User Name: activate to sort column ascending">
                                                        Employee
                                                        Name</th>
                                                    <th class="sorting" tabindex="0" aria-controls="project-4"
                                                        rowspan="1" colspan="1" style="width: 0px;"
                                                        aria-label="End Date: activate to sort column ascending">
                                                        End
                                                        Date</th>
                                                    <th class="sorting" tabindex="0" aria-controls="project-4"
                                                        rowspan="1" colspan="1" style="width: 0px;"
                                                        aria-label="Status: activate to sort column ascending">
                                                        Status
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!--  [class.selectedRow]="rowIsSelected(item.id)"       (click)="onRowClick(item.id)"-->
                                                <tr role="row" class="odd"
                                                    *ngFor="let item of _ProjectDataList | filter:searchText|filter:ProjectTyp_value|filter:Status_value|filter:Emp_value | paginate: { itemsPerPage: 10, currentPage: p};let i=index;">
                                                    <td tabindex="0" class="sorting_1">
                                                        <mat-list-item>
                                                            <mat-checkbox checked color="primary"
                                                                [(ngModel)]="item.checked"
                                                                (change)="dataTableCheckbox();checkboxclick()">
                                                                {{item.DocumentTypeName}}
                                                            </mat-checkbox>
                                                        </mat-list-item>
                                                        <!-- <input type="checkbox" [name]="checkbox" id="checkbox"
                                                                [(ngModel)]="item.checked" name="checkbox"
                                                                (change)="dataTableCheckbox();checkboxclick($event)"
                                                                value="{{i+1}}"> -->
                                                        <!-- <span></span> -->
                                                        <!-- <label
                                                            class="kt-checkbox kt-checkbox--single kt-checkbox--tick kt-checkbox--brand">
                                                        </label> -->
                                                    </td>
                                                    <td>
                                                        <p class="kt-widget__title mb-0">{{item.Project_Name}}
                                                        </p>
                                                        <!-- <p class="kt-widget5__desc">{{item.Project_Description}}</p> -->
                                                    </td>
                                                    <td><span class="kt-widget__other">{{item.Exec_BlockName}}</span>
                                                    </td>
                                                    <td><span class="kt-widget__other">Development</span></td>
                                                    <td><span class="kt-widget__other">{{item.TM_DisplayName}}</span>
                                                    </td>
                                                    <td><span class="kt-widget__other">
                                                            {{item.DeadLine|date:'dd-MM-yyyy'}}</span>
                                                    </td>
                                                    <td>
                                                        <div *ngIf="item.Status=='InProcess'">
                                                            <span class="text-primary font-weight-400">InProcess</span>
                                                        </div>
                                                        <div *ngIf="item.Status=='ToDo InProcess'">
                                                            <span class="text-primary font-weight-400">ToDo
                                                                InProcess</span>
                                                        </div>
                                                        <div *ngIf="item.Status=='New Project'">
                                                            <span class="text-primary font-weight-400">New
                                                                Project</span>
                                                        </div>
                                                        <div *ngIf="item.Status=='New Project Rejected'">
                                                            <span class="text-danger font-weight-400">New
                                                                Project
                                                                Rejected</span>
                                                        </div>
                                                        <div *ngIf="item.Status=='Completed'">
                                                            <span class="text-success font-weight-400">Completed</span>
                                                        </div>
                                                        <div *ngIf="item.Status=='Project Hold'">
                                                            <span class="text-danger font-weight-400">Project
                                                                Hold</span>
                                                        </div>
                                                        <div *ngIf="item.Status=='ToDo Completed'">
                                                            <span class="text-primary font-weight-400">ToDo
                                                                Completed</span>
                                                        </div>
                                                        <div *ngIf="item.Status=='New Todo'">
                                                            <span class="text-primary font-weight-400">New Todo
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item.Status=='Completion Under Approval'">
                                                            <span class="text-warning font-weight-400">Completion
                                                                Under
                                                                Approval
                                                            </span>
                                                        </div>

                                                        <div *ngIf="item.Status=='Under Approval'">
                                                            <span class="text-info font-weight-400">UnderApproval
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item.Status=='Forward Under Approval'">
                                                            <span class="text-info font-weight-400">Forward
                                                                Under
                                                                Approval
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item.Status=='Project Complete Rejected'">
                                                            <span class="text-danger font-weight-400">Project
                                                                Complete
                                                                Rejected
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item.Status=='Enactive Under Approval'">
                                                            <span class="text-danger font-weight-400">Enactive
                                                                Under
                                                                Approval
                                                            </span>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="center" *ngIf="!_ProjectDataList.length"
                                            style="align-content: center;">
                                            <p>
                                                <mat-spinner diameter="40"></mat-spinner>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-5"></div>
                                    <div class="col-sm-12 col-md-7"></div>
                                </div>
                            </div>
                            <!--end: Datatable -->
                            <span style="float: right;">
                                <span class="kt-portlet__head-title">
                                    <div class="paginationDiv"> 
                                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                    </div>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End::Row-->

    <!--Begin::Row   DIV TWO-->
    <div class="row" [hidden]="PortfolioList">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="kt-portlet ">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                            Portfolio List
                        </h3>
                        <!--begin: Search -->
                        <div class="kt-header__topbar-item kt-header__topbar-item--search pl-4">
                            <div class="kt-header__topbar-wrapper">
                                <div class="kt-quick-search kt-quick-search--inline ">
                                    <form class="kt-quick-search__form">
                                        <div class="input-group">
                                            <input type="text" class="form-control kt-quick-search__input pl-3"
                                                placeholder="Search..." [(ngModel)]="PortfolioSearch"
                                                name="PortfolioSearch">
                                            <div class="input-group-prepend"><span class="input-group-text"><i
                                                        class="flaticon2-search-1"></i></span></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--end: Search -->
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <a id="CreatePortfolio" class="btn btn-primary text-white" (click)="Displayprojectlist()">
                            <!-- <i class="fas fa-plus"></i> -->
                            <strong>New Portfolio</strong>
                        </a>
                    </div>
                </div>
                <div class="kt-portlet__body kt-portlet__body_scroll">
                    <div class="accordion accordion-solid" id="accordionExample6">
                        <!-- <div *ngIf="!_ExistingPortfolioOfProjects || _ExistingPortfolioOfProjects.length === 0"
                            style="text-align: center;">
                            <div>
                                <strong>
                                    <p> No Portfolio has Created</p>
                                </strong>
                            </div>
                        </div> -->
                        <!-- <div ngIf="_ExistingPortfolioOfProjects">
                            <strong>
                               
                            </strong>
                        </div> -->
                        <!-- <div><mat-spinner>Processing...</mat-spinner></div> -->
                        <!-- One  (click)="OnCardClick()" -->
                        <div class="card"
                            *ngFor="let item of _ExistingPortfolioOfProjects | filter:PortfolioSearch;let i=index">
                            <div class="card-header" id="headingOne6"
                                (click)="OnCardClick(item.Portfolio_ID,item.Portfolio_Name)">
                                <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseOne6"
                                    aria-expanded="false" aria-controls="collapseOne6">
                                    <div *ngIf="item.Status=='InProcess'" class="mr-2">
                                        <i class="fas fa-circle text-warning"></i>
                                    </div>
                                    <div *ngIf="item.Status=='Project Hold'" class="mr-2">
                                        <i class="fas fa-circle text-warning"></i>
                                    </div>
                                    <div *ngIf="item.Status=='ToDo InProcess'" class="mr-2">
                                        <i class="fas fa-circle text-warning" class="mr-2"></i>
                                    </div>
                                    <div *ngIf="item.Status=='Completion Under Approval'" class="mr-2">
                                        <i class="fas fa-circle text-white"
                                            style="border-radius: 50%; border: 0.5px solid #615e57; line-height: 15px;"></i>
                                    </div>
                                    <div *ngIf="item.Status=='Under Approval'" class="mr-2">
                                        <i class="fas fa-circle text-white"
                                            style="border-radius: 50%; border: 0.5px solid #615e57; line-height: 15px;"></i>
                                    </div>
                                    <div *ngIf="item.Status=='New Todo'" class="mr-2">
                                        <i class="fas fa-circle text-info"></i>
                                    </div>
                                    <div *ngIf="item.Status=='Project Complete Rejected'" class="mr-2">
                                        <i class="fas fa-circle text-warning"></i>
                                    </div>
                                    <div *ngIf="item.Status=='New Project Rejected'" class="mr-2">
                                        <i class="fas fa-circle text-warning"></i>
                                    </div>
                                    <a value={{item.Portfolio_ID}}>{{item.Portfolio_Name}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Shared Portfolios -->
        <!--End::Row-->
    </div>
    <!--End::Row-->
    <!--Begin::Row   DIV THREE    | sortBy:’asc|desc ’-->
    <div class="row" [hidden]="_PortfolioListTable">
        <!--begin::Portlet-->
        <div class="kt-portlet" *ngFor="let item of _ExistingPortfolioOfProjects|slice:0:1;let i=index">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        {{_PortFolio_Namecardheader}}
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <span class="dropdown">
                        <a class="btn btn-primary dropdown-toggle mr-2" href="" data-toggle="dropdown"
                            aria-expanded="false">
                            Share Details
                        </a>
                        <div class="shareddetails dropdown-menu animated bounceInDown">

                            <table class="table table-borderless">

                                <th>Shared To</th>
                                <th>Shared By</th>
                                <tr *ngFor="let item of _ShareDetailsList">
                                    <td>{{item.Shared_To}}</td>
                                    <td>{{item.Shared_By}}</td>
                                    <td>
                                        <span
                                            [ngStyle]="{'color':item.Preferences=== 'Full Access' ? '#28a745' : '#dc3545'}">{{item.Preferences}}</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </span>

                    <a id="closebtn" class="btn btn-danger text-white" (click)="_PortfolioListTable_Bttn()">X</a>
                </div>
            </div>
            <div class="kt-portlet__body kt-portlet__body_scroll pt-0 ">
                <div class="card projects-list no-border">
                    <div class="card-body">
                        <!--begin: Datatable -->
                        <div id="project-4_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-hover dataTable no-footer dtr-inline" role="grid"
                                        style="width: 0px;">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting" tabindex="0" aria-controls="project-1" rowspan="1"
                                                    colspan="1" style="width: 0px;" aria-label="">
                                                    <!-- <a><img src="assets/images/info2.png" width="10px"></a> -->
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="project-1" rowspan="1"
                                                    colspan="1" style="width: 0px;"
                                                    aria-label="Project Name &amp;amp; Project Name: activate to sort column ascending">
                                                    Project Name </th>
                                                <th class="sorting_asc" tabindex="0" aria-controls="project-1"
                                                    rowspan="1" colspan="1" style="width: 0px;" aria-sort="ascending"
                                                    aria-label="Project Type: activate to sort column descending">
                                                    Project Type</th>
                                                <th class="sorting" tabindex="0" aria-controls="project-1" rowspan="1"
                                                    colspan="1" style="width: 0px;"
                                                    aria-label="Category: activate to sort column ascending">
                                                    Category</th>
                                                <th class="sorting" tabindex="0" aria-controls="project-1" rowspan="1"
                                                    colspan="1" style="width: 0px;"
                                                    aria-label="Employee Name: activate to sort column ascending">
                                                    Employee Name</th>
                                                <th class="sorting" tabindex="0" aria-controls="project-1" rowspan="1"
                                                    colspan="1" style="width: 0px;"
                                                    aria-label="End Date: activate to sort column ascending">
                                                    EndDate</th>
                                                <th class="sorting" tabindex="0" aria-controls="project-1" rowspan="1"
                                                    colspan="1" style="width: 0px;"
                                                    aria-label="End Date: activate to sort column ascending">
                                                    Latest Update</th>
                                                <th class="sorting" tabindex="0" aria-controls="project-1" rowspan="1"
                                                    colspan="1" style="width: 0px;"
                                                    aria-label="Status: activate to sort column ascending">
                                                    Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr role="row" class="odd"
                                                *ngFor="let item1 of _ProjectsListBy_Pid; let i=index">
                                                <td align="center">
                                                    <!-- <a href="#" type="button" data-toggle="modal" data-target="#infoModal">
                                                        <img src="assets/images/info2.png" width="22px">
                                                    </a> -->
                                                    <a tabindex="0" class="btn mr-2" role="button" placement="right"
                                                        data-trigger="focus" [popoverTitle]="popTitle"
                                                        [ngbPopover]="popContent"><img src="assets/images/info2.png"
                                                            width="25px"></a>
                                                    <ng-template #popTitle>
                                                        <b>Project Code :</b> {{item1.Project_Code}}
                                                    </ng-template>
                                                    <ng-template #popContent>
                                                        <table class="table-borderless table-striped popover-table">
                                                            <tr>
                                                                <td>Company Name</td>
                                                                <td><strong>: {{item1.Com_Name}}</strong></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Project Description</td>
                                                                <td><strong>:
                                                                        {{item1.Project_Description}}</strong>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Project Owner</td>
                                                                <td><strong>: {{item1.Project_Owner}}</strong>
                                                                </td>
                                                            </tr>
                                                            <!-- <tr>
                                                                <td>Project Type</td>
                                                                <td><strong>: {{item1.Exec_BlockName}}</strong></td>
                                                            </tr> -->
                                                            <!-- <tr>
                                                                <td>Employee Role</td>
                                                                <td><strong>: {{item1.Emp_SystemRole}}</strong></td>
                                                            </tr> -->
                                                            <!-- <tr>
                                                                <td>Project Auditor</td>
                                                                <td><strong>: {{item1.Project_Auditor}}</strong></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Team Support</td>
                                                                <td><strong>: {{item1.Team_Support}}</strong></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Team Informer</td>
                                                                <td><strong>: {{item1.Team_Informer}}</strong></td>
                                                            </tr>-->
                                                            <tr>
                                                                <td>Dead Line</td>
                                                                <td><strong>:
                                                                        {{item1.DeadLine | date:'dd-MM-yyyy'}}</strong>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Status</td>
                                                                <td><strong>: {{item1.Status}}</strong></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Remarks</td>
                                                                <td><strong>: {{item1.Remarks}}</strong></td>
                                                            </tr>
                                                        </table>


                                                        <!-- <p class="mb-1"><b>Company Name :</b>{{item1.Com_Name}}</p>
                                                        <p class="mb-1"><b>Project Description
                                                                :</b>{{item1.Project_Description}}</p>
                                                        <p class="mb-1"><b>Project Owner
                                                                :</b>{{item1.Project_Owner}}
                                                        </p>
                                                        <p class="mb-1"><b>Project Type
                                                                :</b>{{item1.Exec_BlockName}}
                                                        </p>
                                                        <p class="mb-1"><b>Employee Role
                                                                :</b>{{item1.Emp_SystemRole}}
                                                        </p>
                                                        <p class="mb-1"><b>Project Auditor
                                                                :</b>{{item1.Project_Auditor}} </p>
                                                        <p class="mb-1"><b>Team Support :</b>{{item1.Team_Support}}
                                                        </p>
                                                        <p class="mb-1"><b>Team Informer
                                                                :</b>{{item1.Team_Informer}}
                                                        </p>-->
                                                        <!-- <b>Satrt Date :</b>{{item1.Created_DT | date:'dd-MM-yyyy'}} <br> -->
                                                        <!-- <p class="mb-1"><b>Dead Line
                                                                :</b>{{item1.DeadLine | date:'dd-MM-yyyy'}} </p>
                                                        <p class="mb-1"><b>Status :</b>{{item1.Status}} </p>
                                                        <p class="mb-1"><b>Remarks :</b>{{item1.Remarks}} </p> -->
                                                    </ng-template>
                                                </td>
                                                <td>
                                                    <p class="kt-widget__title mb-0">
                                                        <b>{{item1.Project_Name}}</b>
                                                    </p>
                                                </td>
                                                <td tabindex="0" class="sorting_1"><span
                                                        class="kt-widget__other">{{item1.Exec_BlockName}}</span>
                                                </td>
                                                <td><span class="kt-widget__other">Development</span>
                                                </td>
                                                <td><span class="kt-widget__other">{{item1.TM_DisplayName}}</span>
                                                </td>
                                                <td>
                                                    <div *ngIf="item1.Project_Block =='003'">
                                                        <span class="kt-widget__other">
                                                            {{item1.DurationTime}}</span>
                                                    </div>
                                                    <div *ngIf="item1.Project_Block !='003'">
                                                        <span class="kt-widget__other">
                                                            {{item1.DeadLine|date:'dd-MM-yyyy'}}</span>
                                                    </div>
                                                </td>
                                                <td><span class="kt-widget__other">
                                                        {{item1.Created_DT |date:'dd-MM-yyyy'}}</span>
                                                </td>
                                                <td>
                                                    <div *ngIf="item1.Status=='InProcess'">
                                                        <span class="text-warning font-weight-400">InProcess</span>
                                                    </div>
                                                    <div *ngIf="item1.Status=='Project Complete Rejected'">
                                                        <span class="text-warning font-weight-400">Project
                                                            Complete
                                                            Rejected</span>
                                                    </div>
                                                    <div *ngIf="item1.Status=='Project Hold'">
                                                        <span class="text-warning font-weight-400">Project
                                                            Hold</span>
                                                    </div>
                                                    <div *ngIf="item1.Status=='Under Approval'">
                                                        <span class="font-weight-400">Under Approval</span>
                                                    </div>
                                                    <div *ngIf="item1.Status=='New Todo'">
                                                        <span class="text-warning font-weight-400">New Todo
                                                        </span>
                                                    </div>
                                                    <div *ngIf="item1.Status=='Completion Under Approval'">
                                                        <span class="font-weight-400">Completion Under
                                                            Approval
                                                        </span>
                                                    </div>
                                                    <div *ngIf="item1.Status=='New Project Rejected'">
                                                        <span class="text-info font-weight-400">New Project
                                                            Rejected
                                                        </span>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                    <!-- <div class="center" *ngIf="!_ProjectsListBy_Pid.length"
                                        style="align-content: center;">
                                        <p>
                                            <mat-spinner diameter="40"></mat-spinner>
                                        </p>
                                    </div> -->
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <!-- [hidden]="Share_preferences" -->
                                            <div class="" [hidden]="Share_preferences">
                                                <a class="btn btn-primary text-white mr-2"
                                                    (click)="populateForm(item.Portfolio_ID)">Add
                                                    Project</a>
                                                <a class="btn btn-info text-white" data-toggle="modal"
                                                    data-target="#exampleModal" (click)="funforGetComp_Users()">
                                                    <i class="fas fa-share-alt"></i>
                                                    Share</a>
                                            </div>
                                        </div>
                                        <div>
                                            <div>
                                                <p class="mt-3 mb-0">Created On :
                                                    {{item.Created_DT | date:'dd-MM-yyyy'}}
                                                </p>
                                            </div>
                                            <!-- <div>
                                                    <p class="mt-3 mb-0">Modified On :
                                                        {{item.Modified_DT | date:'dd-MM-yyyy'}}</p>
                                                </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end: Datatable -->
                        <!-- <div class="loader" style="width:10px" [hidden]="Spinnerloading">Loading...</div> -->
                        <!-- <div class="d-flex justify-content-center">
                            <div class="spinner-border" role="status" >
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Model-Opens On Share Button  DIV FOUR-->
    <!--Begin::Row   DIV Four-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true" yt>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Share Portfolio</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Select Company</label>
                            <div>
                                <ng-multiselect-dropdown [placeholder]="'-- Company -- '"
                                    [(ngModel)]="ngCompanyDropdown" [settings]="dropdownSettings_Cmp" name="ngEmployeeDropdown"
                                    [data]="Company_List" (onSelect)="OnCompanySelect($event)" (onDeSelect)="OnCmpDeselect()">
                                </ng-multiselect-dropdown>
                                <!-- <select class="form-control" id="select2-4" [(ngModel)]="CompanyDropdown"
                                    name="CompanyDropdown" (change)="OnCompanyChange($event.target.value)">
                                    <option value='undefined'>-- Company -- </option>
                                    <option *ngFor="let item of Company_List" value={{item.Com_No}}>
                                        {{item.Com_Name}}
                                    </option>
                                </select> -->
                            </div>
                            <p class="text-danger"><b>{{this._ErrorMessage_comp}}</b></p>
                        </div>
                        <div class="form-group">
                            <label>Select User {{this.ngEmployeeDropdown}}</label>
                            <div>
                                <ng-multiselect-dropdown [placeholder]="'-- TM Name -- '"
                                    [(ngModel)]="ngEmployeeDropdown" [settings]="dropdownSettings_Emp" name="ngEmployeeDropdown"
                                    [data]="EmployeeList" (onSelect)="OnEmpSelect($event)" (onDeSelect)="OnEmpDeselect()">
                                </ng-multiselect-dropdown>
                                <!-- <select class="form-control" id="select2-6" [(ngModel)]="EmployeeDropdown"
                                    name="EmployeeDropdown" (change)="OnEmpChange()">
                                    <option value='undefined'>-- TM Name --</option>
                                    <option *ngFor="let item of EmployeeList" value="{{item.Emp_No}}">
                                        {{item.TM_DisplayName}}</option>
                                </select> -->
                            </div>
                            <p class="text-danger"><b> {{this._ErrorMessage_User}}</b></p>
                        </div>
                        <div class="form-group mb-0">
                            <label class="mb-3">Preferences</label>
                            <div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" [(ngModel)]="preferences"
                                            (change)="Radio_View_fullaccess($event.target.value)" value="View Only"
                                            name="optradio">View Only
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" [(ngModel)]="preferences"
                                            (change)="Radio_View_fullaccess($event.target.value)" value="Full Access"
                                            name="optradio">Full Access
                                    </label>
                                </div>
                            </div>
                        </div>
                        <p class="text-danger"><b> {{this._ErrorMessage_Pref}}</b></p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        (click)="Close_ShareModel()">Close</button>
                    <button type="button" class="btn btn-primary" id="closeModal" 
                        data-target="#exampleModal" (click)="share()">Share</button>
                </div>
            </div>
        </div>
    </div>
</div>