/* #loading{ 
  position: absolute; 
  left: 50%; 
  top: 50%; 
  z-index: 1; 
  width: 150px; 
  height: 150px; 
  margin: -75px 0 0 -75px; 
  border: 16px solid #f3f3f3; 
  border-radius: 50%; 
  border-top: 16px solid #3498db; 
  width: 120px; 
  height: 120px; 
  animation: spin 2s linear infinite; 
  } 
    
  @keyframes spin { 
    0% { transform: rotate(0deg); } 
    100% { transform: rotate(360deg); } 
  } */

  .list-icon-color{
    color: #969696
   }
  .loader,
  .loader:before,
  .loader:after {
    background: #0dc5c1;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
  }
  .loader {
    color: #0dc5c1;
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  .loader:before,
  .loader:after {
    position: absolute;
    top: 0;
    content: '';
  }
  .loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  .loader:after {
    left: 1.5em;
  }

  @-webkit-keyframes load1 {
    0%,
    80%,
    100% {
      box-shadow: 0 0;
      height: 4em;
    }
    40% {
      box-shadow: 0 -2em;
      height: 5em;
    }
  }
  @keyframes load1 {
    0%,
    80%,
    100% {
      box-shadow: 0 0;
      height: 4em;
    }
    40% {
      box-shadow: 0 -2em;
      height: 5em;
    }
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
  .modal .modal-content {
    border-radius: 2px;
}
/* 
  table, th, td {
    padding: 5px;
  }
  table {
    border-spacing: 15px;
  } */

.shareddetails.dropdown-menu{
  width: 400px;
  height: auto;
  max-height: 400px;
  padding: 10px;
  top: 38px !important;
  left: auto !important;
  right: 0px !important;
  overflow-y: auto;
}
/* width */
.shareddetails.dropdown-menu::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.shareddetails.dropdown-menu::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.shareddetails.dropdown-menu::-webkit-scrollbar-thumb {
  background: #ccc;
}

/* Handle on hover */
.shareddetails.dropdown-menu::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.paginationDiv{
  position: fixed;
  top: 610px;
  right: 200px;
}